@import '../../constants/vars';

.bloc-04{
  padding-top: 120px;
  padding-bottom: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(111, 165, 255, 0.15) 100%);
  @media (max-width: 800px) {
    padding-top: 72px;
    padding-bottom: 44px;
  }
  .content{
    flex-direction: column;
  }
  .block-text{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    @media (max-width: 1176px) {
      flex-direction: column;;
      margin-bottom: 44px;
    }
    >div{
      display: flex;
      gap: 12px;
      flex-direction: column;
      @media (max-width: 1176px) {
        width: 100%;
        gap:16px;
      }
      h1{
        margin: 0;
      }
      p{
        width: 776px;
        margin: 0;
        @media (max-width: 1176px) {
          margin-bottom: 32px;
          width: 100%;
        }
      }
    }
  }
  .cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 23px;
    .card{
      width: 200px;
      height: 200px;
      background: rgb(218,229,253);
      background: linear-gradient(180deg, rgba(218,229,253,1) 0%, rgba(177,197,225,1) 100%);
      border-radius: 12px;
      padding: 44px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      @media (max-width: 1176px) {
        width: 100%!important;
      }
      @media (max-width: 800px) {
        padding: 32px 20px;
      }
      &.card-01{
        width: 677px;
        height: 420px;
        position: relative;
        .title{
          text-align: left;
        }
        .picture-1{
          width: 200px;
          height: 232px;
          position: absolute;
          left:65px;
          bottom:0;
          @media (max-width: 1176px) {
            left:-20px;
            bottom: 20px;
          }
          @media (max-width: 800px) {
            width: 127px;
            height: auto;
            bottom: 40px;
            left: -40px;
          }
        }
        .picture-2{
          width: 200px;
          height: 135px;
          position: absolute;
          bottom:0;
          left:289px;
          @media (max-width: 800px) {
            width: 127px;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .picture-3{
          width: 164px;
          height: 232px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          @media (max-width: 800px) {
            width: 100px;
            top: 60%;
            height: auto;
          }
        }
      }
      &.card-02{
        width: 476px;
        height: 420px;
        @media (max-width: 1176px) {
          justify-content: center;
          align-items: center;
        }
        p{
          @media (max-width: 1176px) {
            text-align: center;
          }
        }
        .bloc02-picture{
          width:384px;
          height:146px;
          margin-top: 55px;
          @media (max-width: 800px) {
            width: 100%;
            height: auto;
          }
        }
      }
      &.card-03{
        width: 476px;
        height: 420px;
        justify-content: center;
        align-items: center;
        .bloc03-picture{
          width: 100px;
          height: 100px;
          margin-bottom: 24px;
        }
        p.title{
          font-size: 27px;
        }
        p.subtitle{
          width:388px;
          text-align: center;
          @media (max-width: 800px) {
            width: 100%;
          }
        }
      }
      &.card-04{
        width: 677px;
        height: 420px;
        p.title{
          width:280px;
        }
        p.subtitle{
          width:279px;
        }
        .bloc04-picture{
          position: absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
          width: 677px;
          height: 420px;
          @media (max-width: 1176px) {
            display: none;
          }
        }
        .bloc04-picture-mobile{
          display: none;
          @media (max-width: 1176px) {
            display: inline-block;
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            object-fit: cover;
            width: 100%;
          }
        }
      }
      p.title{
        color: $black;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px; /* 150% */
        margin: 0;
        margin-bottom: 8px;
        @media (max-width: 800px) {
          text-align: center;
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
        }
      }
      p.subtitle{
        color: $black;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width:431px;
        margin: 0;
        @media (max-width: 800px) {
          width: 100%;
        }
      }
    }

  }
}
