@import 'constants/vars';

.App {
  width : 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
}

.block-container{
  width : 100vw;
  display: flex;
  justify-content: center;
}

.block-text {
  width : 576px;
  @media (max-width: 1176px) {
    padding-right: 10px;
  }

  @media (max-width: 800px) {
    width: 100%;
    padding-right: 0;
  }
  h1 {
    margin-top: 0;
    color: $black;
    font-style: normal;
    margin-bottom: 16px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 58px; /* 120.833% */
    @media (max-width: 1176px) {
      font-size: 42px;
      line-height: 46px;
    }
    span {
      color: $blue;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 58px;
      @media (max-width: 1176px) {
        font-size: 42px;
        line-height: 46px;
      }
    }
  }
  p {
    color: #5D5F64;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin: 0;
    margin-bottom: 32px;
    @media (max-width: 1176px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.breakline-desktop{
  @media (max-width: 1176px) {
    display: none;
  }
}

.breakline-mobile{
  display: none;
  @media (max-width: 1176px) {
    display: inline-block;
  }
}
